<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 card mx-auto mt-5 p-0 text-center">
          <div class="card-header"><h4>Welcome User</h4></div>
          <div class="card-content p-2">
            <img
              src="<%=image %>"
              alt=""
              class="img-fluid mb-2 rounded-circle"
            />
            <h5><%= name %></h5>
            <a href="/auth/logout" class="btn btn-danger btn-block">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
